
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<eRestoran.Models.RezervacijaStolova>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/login.css" rel="stylesheet" />
<style>
    .akcija {
        color: #EA6500;
    }

        .akcija:hover {
            color: #EA6500;
        }

    a:hover {
        color: white;
        text-decoration: none;
    }
    .pagination-container ul {
        border-radius: 5px;
        color:black;
    }
    .pagination li {
        border: 1px solid lightgrey;
        height: 40px;
        width: 40px;
        padding: 5px;
        color:#fff;
    }

    .pagination .active {
        background-color: #EA6500;
    }
</style>
<div style="background-color:#f4f4f4; height:100%; padding: 3em;">
    <center><h2>Vaše rezervacije</h2></center>
    @if (Model is null)
    {
        <center style="padding-top:50px; padding-bottom:50px;"><h5>Trenutno nemate rezervacija</h5></center>
        <center><a asp-action="Create" class="textLogin" style="margin-top:2em;">Rezerviši stol</a></center>
    }
    else
    {
        <table class="table" style="margin-top:2em;">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().BrojOsoba)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().VrijemeRezervacije)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().BrojTelefona)
                    </th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojOsoba)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VrijemeRezervacije)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojTelefona)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="akcija">Uredi</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="akcija">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>

        </div>
        <p>
            <a asp-action="Create" class="textLogin" style="margin-top:2em;">Rezerviši stol</a>
        </p>
        <div class="pagination-lg" style="margin-left: 400px">

            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Rezervacije", new { page }))
        </div>
    }
</div>
